/*GENERAL*/

body
{
    
    font-size: 20px;
    background-color: #D8D9DA;
    background-image: url(marbre-3jpeg.jpeg);
    background-attachment: fixed;
    height: 500px;
    width: 1500px;
    
}


h1
{ 
    margin-top: 30px;
    font-size: 60px;
    color: #24B4EC;  
    text-align: center;
    font-family: "Berkshire swash","Comic sans MS", serif;
    padding-bottom: 120px;
    margin-top: 60px;
    text-shadow: 15px 15px 10px grey;
    
}


p
{
    font-family: "Architects Daughter","Arial Black", serif;
    font-weight: bold;
    
}

/*Page Accueil*/

.photo
{
    border: 5px white solid;
    width: 1500px;
    height: 500px;
    border-radius: 10px;
}



nav ul
{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    
}

nav li
{
    margin-right: 15px;
    
}


nav a:hover
{
    color: orange;
    
}


.bio
{
  
    text-align: center;
    padding: 15px;
    height: 500px;
    width: 1400px;
   
    
}


/*  PAGE PRINCIPALE  */


h2, h3, h4 
{
    color: orange;
    font-size: 30px;
    text-align: center;
    font-family:"Crete Round", serif;
    text-decoration: underline;
    
}


li
{
    font-family: "Architects Daughter","Arial Black", serif;
    font-weight: bold;
    list-style:none;
}

 .informations
{
    text-align: center;
    padding: 90px 90px 80px 60px;
    border: 10px white solid;
    border-radius: 20px;
    
}




/* PAGE CONTACT*/

footer
{
   
    background-color: #b9bfc1;
    border: 5px white solid;
    margin: auto;
    border-radius: 20px;
    height: 800px;
    width: auto;
}

label 
{
    display: inline;
    margin-top: 10px;
    margin: 10px 10px;
    
}

input
{
    display: inline;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;

}


input:focus, textarea:focus
{
    background-color: orange;
    
}


textarea
{
    display: block;
    margin: 40px 15px 20px 15px;
    width: 1455px;
    height: 350px;
   
}

#bouton
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5
{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family:"Comic sans MS", "Crete Round", serif;
    text-decoration: underline;
}


